doctype html
html(lang="en", data-theme="light")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:site_name" content="Symbol Art Vault")
    meta(property="twitter:card" content="summary_large_image")


    if title
      meta(property="og:title" content=title)

    if description
      meta(property="og:description" content=description)

    if image
      meta(property="og:image" content=image)

    title Symbol Art Vault


    link(rel="icon", href="/favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    #root
    script(src="/main.js")
